<div>
    <b-modal
        id="remove"
        centered
        size="sm"
        title="删除库存"
        title-class="font-18"
        ok-title="确认"
        cancel-title="取消"
        @ok="removeTopic"
        ref="topic_remove"
    >
        确定要删除？
    </b-modal>
    <section class="section">
        <ProfileHeader />
        <div class="container">
            <div class="row mt-4">
                <ProfileLeft />
                <div class="col-lg-9 col-md-9 col-12 mt-5 pt-2 mt-sm-0 pt-sm-0">
                    <div class="row">
                        <div class="col-12">
                            <!-- div class="alert alert-outline-primary alert-pills" role="alert">
                                <span class="badge badge-pill badge-success"> Open </span>
                                <span class="alert-content">
                                开发者大会正在征集议题中，<a href="javascript:void(0)" class="alert-link">点击此处去了解</a>。
                                </span>
                            </div -->
                            <p v-if="topics.length">在此处可以查看历史提交的议题，可对其进行基本查看、编辑、删除操作</p>
                            <p class="text-muted" v-if="!topics.length">
                                未找到提交议题记录。
                            </p>
                            <div class="table-responsive bg-white shadow rounded" v-else>
                                <table class="table mb-0 table-center">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="text-muted">#</th>
                                        <th scope="col">议题</th>
                                        <th scope="col">议题内容</th>
                                        <th scope="col">状态</th>
                                        <th scope="col">提交时间</th>
                                        <th scope="col">操作</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr v-for="(topic, index) in topics" :keys="index">
                                        <th class="text-muted">{{ index + 1 }}</th>
                                        <th class="text-primary" width="20%">
                                            <a v-b-modal="'view' + topic.topicId">{{ topic.columnTitle }}</a>
                                            <b-modal
                                                :id="'view' + topic.topicId"
                                                title="查看议题内容"
                                                hide-footer
                                                size="md"
                                                content-class="border-0"
                                                centered
                                            >
                                                <topic-form class="p-2" useType="view" :topic="topic" />
                                            </b-modal>
                                        </th>
                                        <td class="text-muted">{{ topic.topicContent }}</td>
                                        <td class="text-success" width="10%">{{ topic.topicProgressName }}</td>
                                        <td class="text-muted" width="20%">{{ topic.createTime }}</td>
                                        <td>
                                            <a v-b-modal="'edit' + topic.topicId" class="pointer badge badge-pill badge-outline-secondary mb-1 mr-1">编辑</a>
                                            <b-modal
                                                :id="'edit' + topic.topicId"
                                                title="修改议题内容"
                                                hide-footer
                                                size="md"
                                                content-class="border-0"
                                                centered
                                                no-close-on-esc
                                                no-close-on-backdrop
                                                @close="editModalClose"
                                            >
                                                <topic-form class="p-2" useType="edit" :topic="topic" />
                                            </b-modal>
                                            <a v-b-modal.remove class="badge badge-pill badge-outline-warning" @click="select = topic">删除</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
</div>
