.vue-typer .custom.char.typed {
    color: $primary;
}
.vue-typer .custom.char.selected {
    color: #ffffff;
    background-color: $primary;
}
.vue-typer .custom.idle, .vue-typer .custom.typing {
    background-color: $primary;
}
