<div>
    <Navbar :nav-light="true" />
    <!-- Banner Start -->
    <section class="bg-half-170 w-100 d-table" data-jarallax='{"speed": 0.5}' style="background: url('images/event/column/column-banner.jpg') center center;">
        <div class="bg-overlay bg-overlay-gradient3"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <h5 class="text-white mb-4">2021. 10月15日-18日 ｜ 中国 · 北京</h5>
                        <h1 class="display-4 title-dark text-white font-weight-bold mb-4">
                            <span class="text-white">OpenAtom</span> - 全球开发者峰会
                        </h1>
                        <p class="para-desc mx-auto text-white-50">
                            在智能奔涌的浪潮中
                            最强的智，是众智
                            最大的力，是合力
                            没有人能够逆转万流归海
                            每一位开发者
                            都在创造一往无前的奔腾时代. 世界有你，了不起
                        </p>
                    </div>
                </div>
                <!--end col-->
                <div class="col-md-12 text-center">
                    <div id="eventdown">
                        <div class="count-down">
                            <span class="count-number">{{days}}</span>
                            <span class="count-head position-relative d-bock">天</span>
                        </div>
                        <div class="count-down">
                            <span class="count-number">{{hours}}</span>
                            <span class="count-head position-relative d-bock">小时</span>
                        </div>
                        <div class="count-down">
                            <span class="count-number">{{minutes}}</span>
                            <span class="count-head position-relative d-bock">分钟</span>
                        </div>
                        <div class="count-down">
                            <span class="count-number">{{seconds}}</span>
                            <span class="count-head position-relative d-bock">秒</span>
                        </div>
                    </div>
                    <div class="mt-4 pt-2">
                        <router-link :to="{name: 'event-column-topic', query: {id: $route.query.id}}">
                            <a href="javascript:void(0)" class="btn btn-lg btn-primary">
                                正在征集议题中，立即提交议题
                            </a>
                        </router-link>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </section>
    <!--Banner End -->

    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <!-- Intro Start -->
    <section class="section border-top">
        <div class="container">
            <div class="card rounded shadow border-0 bg-light overflow-hidden">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-6">
                        <img src="images/event/taoge.png" class="img-fluid" alt="">
                    </div>
                    <!--end col-->
                    <div class="col-lg-6">
                        <div class="card-body section-title p-md-5">
                            <h4 class="title mb-4">大会简介</h4>
                            <p class="text-muted para-desc mb-0">
                                开放原子开源基金会计划在10月举办首届开发者大会。作为开放原子开源基金会首次举办的年度开发者盛会，本次开发者大会旨在聚集开源生态各领域中的开发者、意见领袖、核心企业代表、开源代码受益者及终端用户。我们希望各类型开源社区及组织，开源教育、开源法务及知识产权领域专家，各科研院所/高校，各类型传媒及分析师等能到场和所有人一起分享经验，聚焦开源创新，共促开源生态繁荣。
                                <br /><br />我们深知一个好的开发者大会，内容为王。从今天起，我们公开征集本次开发者大会的各项选题，并同步征集选题委员会志愿者、赞助商以及各领域合作者。让我们携手一起，办好这属于每个人的开发者大会。
                            </p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end card-->
        </div>
        <!--end container-->
        <div class="container mt-100 mt-60">
            <div class="rounded bg-primary p-lg-5 p-4">
                <div class="row align-items-end">
                    <div class="col-md-8">
                        <div class="section-title text-md-left text-center">
                            <h5 class="mb-3 text-white title-dark">
                                <vue-typer class="text-white" :text="['@所有人：开放原子开发者大会征集各项选题']"></vue-typer>
                            </h5>
                            <p class="text-white-50 mb-0">
                            我们公开征集本次开发者大会的各项选题，并同步征集选题委员会志愿者、赞助商以及各领域合作者。让我们携手一起，办好这属于每个人的开发者大会。
                            </p>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-md-4 mt-4 mt-sm-0">
                        <div class="text-md-right text-center">
                            <router-link :to="{name: 'event-column-topic', query: {id: $route.query.id}}">
                                <a href="javascript:void(0)" class="btn btn-light">立即提交议题</a>
                            </router-link>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
        <!--end container-->
    </section>
    <!-- Intro End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Speakers Start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">邀请嘉宾</h4>
                        <p class="text-muted para-desc mx-auto mb-0">
                            业界大咖、华为科学家、顶级技术专家、技术扫地僧将与开发者汇聚一堂。重磅嘉宾阵容揭晓，邀您一起探索ICT领域前沿技术与行业应用。
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
            <Council />
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Speakers End -->

    <!-- Speakers Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">合作伙伴 & 赞助商</h4>
                        <p class="text-muted para-desc mx-auto mb-0">
                        大会期间大学城周边实行交通管制，请按照指示上下客，严禁私停乱放。

                        丽水路全线禁停，出租车网约车无法候车，请在现场指示下即停即走，做到人等车
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row mt-4 pt-4">
                <div class="col-lg-2 col-md-3 col-6 text-center mb-4"
                    v-for="(p, index) in partner" :key="index"
                >
                    <img :src="require('@/assets/images/partners/' + p)" class="avatar border mb-4 animate__animated animate__fadeIn" alt="" width="130" height="130" />
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Speakers End -->

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->

    <!-- Price Start -->
    <section class="section bg-light" id="tickets">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">大会门票</h4>
                        <p class="text-muted para-desc mx-auto mb-0">
                        每一个开发者，都是改变世界的力量, 更是企业创新和产业发展的源动力。了不起的全场景智慧答卷离不开每一个了不起的开发者！
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row align-items-center">
                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card pricing-rates best-plan overflow-hidden text-center border-0 shadow rounded">
                        <div class="ribbon ribbon-right ribbon-success overflow-hidden"><span class="text-center d-block shadow small h6">50%</span></div>
                        <div class="card-body py-5">
                            <img src="images/icon/ticket2.svg" class="mb-4" height="50" alt="">
                            <h6 class="title text-uppercase font-weight-bold mb-4">早鸟票</h6>
                            <div class="d-flex justify-content-center mb-4 text-success">
                                <span class="h4 mb-0 mt-2">¥</span>
                                <span class="price h1 mb-0">740</span>
                                <span class="h4 align-self-end mb-1">/人</span>
                            </div>

                            <p class="text-muted">基于MindSpore AI开源框架如何实现千亿参数大模型自动并行</p>
                            <a href="javascript:void(0)" class="btn btn-outline-success btn-sm mt-4">先到先得</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card pricing-rates best-plan bg-light text-center border rounded">
                        <div class="card-body py-5">
                            <img src="images/icon/ticket1.svg" class="mb-4" height="50" alt="">
                            <h6 class="title text-uppercase font-weight-bold mb-4">预售票</h6>
                            <div class="d-flex justify-content-center mb-4">
                                <span class="h4 mb-0 mt-2">¥</span>
                                <span class="price h1 mb-0">900</span>
                                <span class="h4 align-self-end mb-1">/人</span>
                            </div>

                            <p class="text-muted">基于MindSpore AI开源框架如何实现千亿参数大模型自动并行</p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">立即购买</a>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card pricing-rates best-plan bg-light text-center border rounded">
                        <div class="card-body py-5">
                            <img src="images/icon/ticket1.svg" class="mb-4" height="50" alt="">
                            <h6 class="title text-uppercase font-weight-bold mb-4">现场票</h6>
                            <div class="d-flex justify-content-center mb-4">
                                <span class="h4 mb-0 mt-2">¥</span>
                                <span class="price h1 mb-0">1234</span>
                                <span class="h4 align-self-end mb-1">/人</span>
                            </div>

                            <p class="text-muted">基于MindSpore AI开源框架如何实现千亿参数大模型自动并行</p>
                            <a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-4">立即购买</a>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Price End -->

    <!-- News Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">媒体报道</h4>
                        <p class="text-muted para-desc mx-auto mb-0">
                            行业媒体对本次大会做了相关报道，可通过以下文章进行大会了解
                        </p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow">
                        <div class="position-relative">
                            <img src="http://landrick.vue.themesbrand.com/images/event/b01.jpg" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h6><a href="javascript:void(0)" class="card-title title text-dark">全球开源治理论坛</a></h6>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                </ul>
                                <router-link to="/page-blog-detail" class="text-muted readmore">查看报道 <i class="mdi mdi-chevron-right"></i></router-link>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> 北京</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 2020.02.23</small>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow">
                        <div class="position-relative">
                            <img src="http://landrick.vue.themesbrand.com/images/event/b02.jpg" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h6><a href="javascript:void(0)" class="card-title title text-dark">开放原子大学揭幕式</a></h6>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                </ul>
                                <router-link to="/page-blog-detail" class="text-muted readmore">查看文章 <i class="mdi mdi-chevron-right"></i></router-link>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> 深圳</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 2021.01.24</small>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow">
                        <div class="position-relative">
                            <img src="http://landrick.vue.themesbrand.com/images/event/b03.jpg" class="card-img-top rounded-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h6><a href="javascript:void(0)" class="card-title title text-dark">原子链线下 Workshop</a></h6>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item mr-2 mb-0"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                </ul>
                                <router-link to="/page-blog-detail" class="text-muted readmore">查看文章 <i class="mdi mdi-chevron-right"></i></router-link>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="mdi mdi-account"></i> 北京</small>
                            <small class="text-light date"><i class="mdi mdi-calendar-check"></i> 2021.04.15</small>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>

    <!-- Shape Start -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-footer">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!--Shape End-->
</div>
